body {
    background-color: #9e13f5;
    font-family:'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LOGIN{
    background-color: #a4d2f7;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    padding: 30px 40px;
}

h3{
    text-align: center;
}